WS_SEGUROS_CLIENT/Connected Services/DepartamentosService/DepartamentoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="DepartamentoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58630/DepartamentoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58630/DepartamentoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58630/DepartamentoService.svc?xsd=xsd2" />
      <xsd:import schemaLocation="http://localhost:58630/DepartamentoService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WS_SEGUROS" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDepartamentoService_GetAllDepartamentos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDepartamentos" />
  </wsdl:message>
  <wsdl:message name="IDepartamentoService_GetAllDepartamentos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDepartamentosResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartamentoService_GetByIdDepartamentos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdDepartamentos" />
  </wsdl:message>
  <wsdl:message name="IDepartamentoService_GetByIdDepartamentos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdDepartamentosResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartamentoService_InsertDepartamento_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertDepartamento" />
  </wsdl:message>
  <wsdl:message name="IDepartamentoService_InsertDepartamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertDepartamentoResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartamentoService_UpdateDepartamento_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDepartamento" />
  </wsdl:message>
  <wsdl:message name="IDepartamentoService_UpdateDepartamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDepartamentoResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartamentoService_DeleteDepartamento_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDepartamento" />
  </wsdl:message>
  <wsdl:message name="IDepartamentoService_DeleteDepartamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDepartamentoResponse" />
  </wsdl:message>
  <wsdl:portType name="IDepartamentoService">
    <wsdl:operation name="GetAllDepartamentos">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartamentoService/GetAllDepartamentos" message="tns:IDepartamentoService_GetAllDepartamentos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartamentoService/GetAllDepartamentosResponse" message="tns:IDepartamentoService_GetAllDepartamentos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByIdDepartamentos">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartamentoService/GetByIdDepartamentos" message="tns:IDepartamentoService_GetByIdDepartamentos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartamentoService/GetByIdDepartamentosResponse" message="tns:IDepartamentoService_GetByIdDepartamentos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertDepartamento">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartamentoService/InsertDepartamento" message="tns:IDepartamentoService_InsertDepartamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartamentoService/InsertDepartamentoResponse" message="tns:IDepartamentoService_InsertDepartamento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDepartamento">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartamentoService/UpdateDepartamento" message="tns:IDepartamentoService_UpdateDepartamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartamentoService/UpdateDepartamentoResponse" message="tns:IDepartamentoService_UpdateDepartamento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDepartamento">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartamentoService/DeleteDepartamento" message="tns:IDepartamentoService_DeleteDepartamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartamentoService/DeleteDepartamentoResponse" message="tns:IDepartamentoService_DeleteDepartamento_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDepartamentoService" type="tns:IDepartamentoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllDepartamentos">
      <soap:operation soapAction="http://tempuri.org/IDepartamentoService/GetAllDepartamentos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByIdDepartamentos">
      <soap:operation soapAction="http://tempuri.org/IDepartamentoService/GetByIdDepartamentos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDepartamento">
      <soap:operation soapAction="http://tempuri.org/IDepartamentoService/InsertDepartamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDepartamento">
      <soap:operation soapAction="http://tempuri.org/IDepartamentoService/UpdateDepartamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDepartamento">
      <soap:operation soapAction="http://tempuri.org/IDepartamentoService/DeleteDepartamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DepartamentoService">
    <wsdl:port name="BasicHttpBinding_IDepartamentoService" binding="tns:BasicHttpBinding_IDepartamentoService">
      <soap:address location="http://localhost:58630/DepartamentoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>