WS_SEGUROS_CLIENT/Connected Services/ServiceTareas/ServiceTareas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServiceTareas" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58630/ServiceTareas.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58630/ServiceTareas.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58630/ServiceTareas.svc?xsd=xsd2" />
      <xsd:import schemaLocation="http://localhost:58630/ServiceTareas.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WS_SEGUROS" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceTareas_GetTareas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTareas" />
  </wsdl:message>
  <wsdl:message name="IServiceTareas_GetTareas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTareasResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceTareas_GetByIdTareas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdTareas" />
  </wsdl:message>
  <wsdl:message name="IServiceTareas_GetByIdTareas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdTareasResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceTareas_InsertTarea_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertTarea" />
  </wsdl:message>
  <wsdl:message name="IServiceTareas_InsertTarea_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertTareaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceTareas_UpdateTarea_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTarea" />
  </wsdl:message>
  <wsdl:message name="IServiceTareas_UpdateTarea_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTareaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceTareas_DeleteTarea_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTarea" />
  </wsdl:message>
  <wsdl:message name="IServiceTareas_DeleteTarea_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTareaResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceTareas">
    <wsdl:operation name="GetTareas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceTareas/GetTareas" message="tns:IServiceTareas_GetTareas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceTareas/GetTareasResponse" message="tns:IServiceTareas_GetTareas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByIdTareas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceTareas/GetByIdTareas" message="tns:IServiceTareas_GetByIdTareas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceTareas/GetByIdTareasResponse" message="tns:IServiceTareas_GetByIdTareas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertTarea">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceTareas/InsertTarea" message="tns:IServiceTareas_InsertTarea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceTareas/InsertTareaResponse" message="tns:IServiceTareas_InsertTarea_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTarea">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceTareas/UpdateTarea" message="tns:IServiceTareas_UpdateTarea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceTareas/UpdateTareaResponse" message="tns:IServiceTareas_UpdateTarea_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTarea">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceTareas/DeleteTarea" message="tns:IServiceTareas_DeleteTarea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceTareas/DeleteTareaResponse" message="tns:IServiceTareas_DeleteTarea_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceTareas" type="tns:IServiceTareas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTareas">
      <soap:operation soapAction="http://tempuri.org/IServiceTareas/GetTareas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByIdTareas">
      <soap:operation soapAction="http://tempuri.org/IServiceTareas/GetByIdTareas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTarea">
      <soap:operation soapAction="http://tempuri.org/IServiceTareas/InsertTarea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTarea">
      <soap:operation soapAction="http://tempuri.org/IServiceTareas/UpdateTarea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTarea">
      <soap:operation soapAction="http://tempuri.org/IServiceTareas/DeleteTarea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceTareas">
    <wsdl:port name="BasicHttpBinding_IServiceTareas" binding="tns:BasicHttpBinding_IServiceTareas">
      <soap:address location="http://localhost:58630/ServiceTareas.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>