WS_SEGUROS_CLIENT/Connected Services/ServiceTareas/ServiceTareas1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58630/ServiceTareas.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WS_SEGUROS" />
  <xs:element name="GetTareas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTareasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTareasResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIdTareas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WS_SEGUROS" minOccurs="0" name="tarea" nillable="true" type="q1:Tarea" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIdTareasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetByIdTareasResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTarea">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WS_SEGUROS" minOccurs="0" name="tarea" nillable="true" type="q2:Tarea" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTareaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertTareaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTarea">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WS_SEGUROS" minOccurs="0" name="tarea" nillable="true" type="q3:Tarea" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTareaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTareaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTarea">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WS_SEGUROS" minOccurs="0" name="tarea" nillable="true" type="q4:Tarea" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTareaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTareaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>